/* Global Layout Set-up */
* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #222;
    background: #F7F5F0;
}
/* Link Styles */

a {
    text-decoration: none;
    color: #999;
}
a:hover {
    color: #34495E;
}

/* Section Styles */

.main-nav {
    position: fixed;
    width: 100%;
    min-height: 30px;
    padding: 10px;
    text-align: center;
    background: black;
}

.nav {
    font-weight: 700;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
}

.nav .name {
    display: block;
    margin-right: auto;
    color: white;
}

.nav li {
    padding: 5px 10px 10px 10px;
}

.nav a {
    -webkit-transition: all 0.5s;
            transition: all 0.5s;
}

.nav a:hover, .nav a.active {
    color: white;
}

header {
    overflow: hidden;
    padding-top: 60px;
    text-align: center;
}

.home {
    background: url('images/head3r.jpg') no-repeat fixed center / cover;
}

header {
    line-height: 1.5;
}

header .profile-image {
    width: 150px;
    height: 150px;
    margin-top: 50px;
    -webkit-transition: all 0.5s;
            transition: all 0.5s;
    border: 3px solid white;
    border-radius: 50%;
}
header .profile-image:hover {
    -webkit-box-shadow: 0 0 0 6px #FFF;
            box-shadow: 0 0 0 6px #FFF;
}

.profile-image {
    background-color: #1ABC9C;
}

.tag {
    margin: 10px auto;
    padding: 10px;
    color: aliceblue;
    text-shadow: 0 5px 5px rgba(2, 2, 2,0.7),0 5px 3px rgba(134,129,129,0.6);
}

.sub {
    font-size: 18px;
    color: #90E469;
    background-color: transparent;
}

.card {
    max-width: 500px;
    margin: 30px;
    padding: 20px 40px 40px;
    -webkit-transition: all 0.5s;
            transition: all 0.5s;
    text-align: left;
    border-bottom: 4px solid #CCC;
    border-radius: 6px;
    background: #FFF;
}
.card:hover {
    border-color: #34495E;
}

ul.skills {
    padding: 0;
    text-align: center;
}

.skills li {
    display: inline-block;
    margin: 2px;
    padding: 5px 10px;
    color: white;
    border-radius: 6px;
    background: #FF9904;
}

.skills li:nth-child(odd) {
    background: #0399FF;
}

/* Contact Page */
.contact-page {
    color: #FFF;
    background: #21272E;
}

.contact {
    background: -webkit-gradient(linear,left bottom, left top,from(#21272E), color-stop(70%, transparent)),url(images/contact-header.jpg) no-repeat center / cover;
    background: linear-gradient(0deg,#21272E, transparent 70%),url(images/contact-header.jpg) no-repeat center / cover;
}

.contact-info {
    background: #2C3E50;
    -webkit-box-shadow: 0 0 10px 6px rgba(12, 12, 12, 0.5);
            box-shadow: 0 0 10px 6px rgba(12, 12, 12, 0.5);
    border: none;
}

textarea, input, label {
    display: block;
}

input, textarea {
    width: 100%;
    -webkit-box-shadow: inset 0 0 20px 0 #34495E;
            box-shadow: inset 0 0 20px 0 #34495E;
    border: none;
}

input {
    padding: 10px;
}

label {
    margin: 10px 0;
}

textarea {
    height: 150px;
}

.button {
    padding: 7px 50px;
    margin: 20px auto 0;
    background: rgb(52,73,94);
    color: white;
    border: 1px solid cornflowerblue;
    -webkit-box-shadow: 0 5px 5px rgba(0,0,0,0.3);
            box-shadow: 0 5px 5px rgba(0,0,0,0.3);
    border-radius: 4px;
    display: flex;
    justify-content: center;
}

.button:hover {
    border: 1px solid white;
}

footer {
    width: 100%;
    min-height: 30px;
    padding: 20px 0 40px 20px;
}

footer .copyright {
    font-size: 0.75em;
    top: -8px;
}

footer ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

footer ul li {
    display: inline-block;
}

a.social {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-left: 5px;
    -webkit-transition: all 0.5s;
            transition: all 0.5s;
    text-indent: -9999px;
    opacity: 0.4;
    background-size: 30px 30px;
}
a.twitter {
    background-image: url(images/twitter.svg);
}
a.linkedin {
    background-image: url(images/linkedin.svg);
}
a.github {
    background-image: url(images/github.svg);
}
a.social:hover {
    opacity: 1;
}
.clearfix {
    clear: both;
}

/* Styles for larger screens */
@media screen and (min-width: 720px) {
    .flex {
        display: -ms-flexbox;      /* TWEENER - IE 10 */
        display: -webkit-box;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        max-width: 1200px;
        margin: 0 auto;
    }

    header {
        min-height: 470px;
    }

    .nav {
        max-width: 1200px;
        padding: 0 30px;
    }


    main {
        padding-top: 20px;
    }

    main p {
        line-height: 1.6em;
    }

    footer {
        font-size: 1.3em;
        max-width: 1200px;
        margin: 40px auto;
    }
}
